.button {
  background: none;
  border: 0;
  color: #ffffff8c;
  font: inherit;
  line-height: normal;
  overflow: visible;
  -webkit-appearance: button;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}



h1 {
  color: #333;
}

.csvForm {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
}
.btn:hover svg path {
  filter: brightness(0) saturate(100%) invert(100%); /* Cambia la opacidad del trazo al hacer hover */
}