.button {
  background: none;
  border: 0;
  color: #ffffff8c;
  font: inherit;
  line-height: normal;
  overflow: visible;
  -webkit-appearance: button;
}
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
